@import './../../vars.scss';

.form-section {
  background: url('../../img/form_background.jpg') no-repeat center;
  background-size: cover;
  background-color: $black;
  padding: 130px 0;
  @include mediaTablet {
    padding: 100px 0;
  }
  @include mediaPhone {
    padding: 20px 0;
  }
  &__title {
    color: $white;
    font-family: 'Playen Sans Bold';
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;

    @include mediaTablet {
      font-size: 50px;
    }
    @include mediaPhone {
      font-size: 40px;
      padding: 0 20px;
      padding-top: 20px;
    }
    @include mediaMini {
      font-size: 30px;
    }
  }

  &__description {
    color: #a8a8a8;
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 18px;
    margin-bottom: 60px;

    @include mediaTablet {
      font-size: 16px;
      margin-bottom: 40px;
    }
    @include mediaPhone {
      font-size: 14px;
      margin-bottom: 30px;
      padding: 0 20px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  @include mediaPhone {
    row-gap: 15px;
  }
  &__label {
    color: $white;
    font-family: 'Proxima Nova Semibold';
    font-size: 14px;
    line-height: 150%;
    display: inline-block;
    margin-bottom: 10px;
    // @include mediaPhone {
    //    padding: 0 20px;
    // }
    @media screen and (max-width: 572px) {
      padding: 0 20px;
    }
  }
  &__profession-box {
    margin-bottom: 13px;
  }
  &__profession {
    display: flex;
    column-gap: 10px;

    @media screen and (max-width: 572px) {
      padding: 0 20px;
    }
    & input[type='radio'] {
      display: none;
    }
    & input[type='radio']:checked + label {
      background-color: $pink;
      color: $white;
    }
    & label {
      color: $grey;
      font-family: 'Proxima Nova';
      line-height: 150%;
      background-color: $black;
      padding: 12px 15px;
      display: inline-block;
      border: 1px solid #404040;
    }
    & label:hover {
      background-color: $white;
      color: $black;
    }
  }

  &__input-box {
    input {
      border: 1px solid #404040;
      width: 100%;
      padding: 12px 15px;
      @media screen and (max-width: 572px) {
        border-right: 0;
        border-left: 0;
        padding: 20px 15px;
      }
    }
  }

  &__comments {
    textarea {
      display: block;
      width: 100%;
      height: 175px;
      border: 1px solid #404040;
      padding: 12px 15px;
      resize: none;
      @media screen and (max-width: 572px) {
        border-right: 0;
        border-left: 0;
      }
    }
    margin-bottom: 20px;
  }

  &__ending {
    display: flex;
    column-gap: 20px;
    align-items: center;
    @include mediaPhone {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__button {
    color: $black;
    padding: 15px 25px;
    background-color: $white;
    font-family: 'Proxima Nova Semibold';
    font-size: 18px;
    align-self: flex-start;
    @include mediaPhone {
      width: 100%;
      border-radius: 0;
      font-size: 16px;
    }
  }
  &__consent {
    width: 245px;
    color: $grey;
    font-size: 14px;

    @include mediaPhone {
      font-size: 12px;
      text-align: center;
    }
    a {
      color: $white;
      font-size: 14px;
      text-decoration-line: underline;
      transition: all 0.2s ease-in;

      @include mediaPhone {
        font-size: 12px;
      }
      &:hover {
        color: $pink;
      }
      &:active {
        text-decoration-line: none;
      }
    }
  }
}

.error {
  color: $pink;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
